# **Import Libraries**

In [140]:
import pyspark 
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import *
import os

# **Create Dataframe**

In [141]:
# You need to have Java installed to run Spark.
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-22"


spark = SparkSession.builder.appName("Google Play Store Data").getOrCreate()

In [142]:
df = spark.read.csv("googleplaystore.csv", header=True, inferSchema=True)

In [143]:
# coiunt number of rows
df.count()

10841

In [144]:
# show first 3 rows
df.show(3)

+--------------------+--------------+------+-------+----+----------+----+-----+--------------+--------------------+----------------+-----------+------------+
|                 App|      Category|Rating|Reviews|Size|  Installs|Type|Price|Content Rating|              Genres|    Last Updated|Current Ver| Android Ver|
+--------------------+--------------+------+-------+----+----------+----+-----+--------------+--------------------+----------------+-----------+------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159| 19M|   10,000+|Free|    0|      Everyone|        Art & Design| January 7, 2018|      1.0.0|4.0.3 and up|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967| 14M|  500,000+|Free|    0|      Everyone|Art & Design;Pret...|January 15, 2018|      2.0.0|4.0.3 and up|
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510|8.7M|5,000,000+|Free|    0|      Everyone|        Art & Design|  August 1, 2018|      1.2.4|4.0.3 and up|
+--------------------+--------------+------+-------+----+----------+----+-----+--------------+--------------------+----------------+-----------+------------+
only showing top 3 rows

In [145]:
# Check schema
df.printSchema()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

# **Data Cleaning step**

In [146]:
#dropping not important columns 

df = df.drop("size","Content Rating","Last Updated","Android Ver","Current Ver")
df.show(2)

+--------------------+--------------+------+-------+--------+----+-----+--------------------+
|                 App|      Category|Rating|Reviews|Installs|Type|Price|              Genres|
+--------------------+--------------+------+-------+--------+----+-----+--------------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159| 10,000+|Free|    0|        Art & Design|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967|500,000+|Free|    0|Art & Design;Pret...|
+--------------------+--------------+------+-------+--------+----+-----+--------------------+
only showing top 2 rows

In [147]:
df.printSchema()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Genres: string (nullable = true)

In [148]:
unique_values_type = df.select('price').distinct()
unique_values_type.show()

+-------+
|  price|
+-------+
|  $1.29|
| $19.99|
|  $0.99|
|  $4.59|
|$400.00|
| $89.99|
| $24.99|
|  $1.96|
| $39.99|
| $12.99|
|  $8.99|
| $11.99|
| $14.99|
| $25.99|
|  $3.04|
| $15.46|
|  $2.50|
|      0|
|   5.0M|
|  $2.49|
+-------+
only showing top 20 rows

In [149]:
# Transform the DataFrame
df = df.withColumn("Rating", col("Rating").cast("float")) \
       .withColumn("Reviews", col("Reviews").cast("int")) \
       .withColumn("installs", regexp_replace("installs", "[^0-9]", "")) \
       .withColumn("installs", col("installs").cast("int")) \
       .withColumn("price", regexp_replace("price", r"\$", "")) \
       .withColumn("price", col("price").cast("float"))

In [150]:
df.show(3)

+--------------------+--------------+------+-------+--------+----+-----+--------------------+
|                 App|      Category|Rating|Reviews|installs|Type|price|              Genres|
+--------------------+--------------+------+-------+--------+----+-----+--------------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159|   10000|Free|  0.0|        Art & Design|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967|  500000|Free|  0.0|Art & Design;Pret...|
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510| 5000000|Free|  0.0|        Art & Design|
+--------------------+--------------+------+-------+--------+----+-----+--------------------+
only showing top 3 rows

In [151]:
# Check if there are any null values in the Rating column
nan_df = df.filter(isnan(col("Rating")))
nan_df.count()

1474

In [152]:
# Drop rows with null values in the Rating column
df = df.na.drop(subset=["Rating"])

In [153]:
# remove a row that has a invalid rating of 19 
df = df.filter(df.Rating != 19.0)

In [154]:
df.createOrReplaceTempView("apps")

In [155]:
results_sql = spark.sql("select * from apps limit 10")
results_sql.show()

+--------------------+--------------+------+-------+--------+----+-----+--------------------+
|                 App|      Category|Rating|Reviews|installs|Type|price|              Genres|
+--------------------+--------------+------+-------+--------+----+-----+--------------------+
|Photo Editor & Ca...|ART_AND_DESIGN|   4.1|    159|   10000|Free|  0.0|        Art & Design|
| Coloring book moana|ART_AND_DESIGN|   3.9|    967|  500000|Free|  0.0|Art & Design;Pret...|
|U Launcher Lite –...|ART_AND_DESIGN|   4.7|  87510| 5000000|Free|  0.0|        Art & Design|
|Sketch - Draw & P...|ART_AND_DESIGN|   4.5| 215644|50000000|Free|  0.0|        Art & Design|
|Pixel Draw - Numb...|ART_AND_DESIGN|   4.3|    967|  100000|Free|  0.0|Art & Design;Crea...|
|Paper flowers ins...|ART_AND_DESIGN|   4.4|    167|   50000|Free|  0.0|        Art & Design|
|Smoke Effect Phot...|ART_AND_DESIGN|   3.8|    178|   50000|Free|  0.0|        Art & Design|
|    Infinite Painter|ART_AND_DESIGN|   4.1|  36815| 1000000|Free|  0.0|        Art & Design|
|Garden Coloring Book|ART_AND_DESIGN|   4.4|  13791| 1000000|Free|  0.0|        Art & Design|
|Kids Paint Free -...|ART_AND_DESIGN|   4.7|    121|   10000|Free|  0.0|Art & Design;Crea...|
+--------------------+--------------+------+-------+--------+----+-----+--------------------+

# Top reviews give to the apps

In [156]:
results_sql = spark.sql("""select App, SUM(Reviews) as TotalReviews
                         from apps
                         group by App
                         order by TotalReviews DESC limit 10
                        """)
results_sql.show()

+--------------------+------------+
|                 App|TotalReviews|
+--------------------+------------+
|           Instagram|   266241989|
|  WhatsApp Messenger|   207348304|
|      Clash of Clans|   179558781|
|Messenger – Text ...|   169932272|
|      Subway Surfers|   166331958|
|    Candy Crush Saga|   156993136|
|            Facebook|   156286514|
|         8 Ball Pool|    99386198|
|        Clash Royale|    92530298|
|            Snapchat|    68045010|
+--------------------+------------+

# TOP 10 INSTALLS APP

In [157]:
results_sql = spark.sql("""select App, SUM(Installs) as TotalInstalls
                         from apps
                         group by App
                         order by TotalInstalls DESC limit 10
                        """)
results_sql.show()

+--------------------+-------------+
|                 App|TotalInstalls|
+--------------------+-------------+
|      Subway Surfers|   6000000000|
|           Instagram|   4000000000|
|            Hangouts|   4000000000|
|        Google Drive|   4000000000|
|         Google News|   4000000000|
|       Google Photos|   4000000000|
|    Candy Crush Saga|   3500000000|
|Messenger – Text ...|   3000000000|
|  WhatsApp Messenger|   3000000000|
|Google Chrome: Fa...|   3000000000|
+--------------------+-------------+

# Category wise distribution

In [158]:
results_sql = spark.sql("""select Category, SUM(Installs) as TotalInstalls
                         from apps
                         group by Category
                         order by TotalInstalls DESC limit 10
                        """)
results_sql.show()

+------------------+-------------+
|          Category|TotalInstalls|
+------------------+-------------+
|              GAME|  35085862717|
|     COMMUNICATION|  32647241530|
|      PRODUCTIVITY|  14176070180|
|            SOCIAL|  14069841475|
|             TOOLS|  11450724500|
|            FAMILY|  10257701590|
|       PHOTOGRAPHY|  10088243130|
|NEWS_AND_MAGAZINES|   7496210650|
|  TRAVEL_AND_LOCAL|   6868859300|
|     VIDEO_PLAYERS|   6221897200|
+------------------+-------------+

# Top Paid Apps

In [159]:
results_sql = spark.sql("""select App, SUM(Installs) as TotalInstalls
                         from apps
                         where Type = 'Paid' 
                         group by App
                         order by TotalInstalls DESC 
                         limit 10
                        """)
results_sql.show()

+--------------------+-------------+
|                 App|TotalInstalls|
+--------------------+-------------+
|           Minecraft|     20000000|
|       Hitman Sniper|     10000000|
| Facetune - For Free|      3000000|
|Beautiful Widgets...|      2000000|
|          HD Widgets|      2000000|
|              Tasker|      1000000|
| Fruit Ninja Classic|      1000000|
|          True Skate|      1000000|
|   Where's My Water?|      1000000|
| DraStic DS Emulator|      1000000|
+--------------------+-------------+

# Top rating app

In [166]:
# SQL query to find the top 10 apps with the highest average rating and total installs

results_sql = spark.sql("""select App, AVG(rating) as AverageRating,SUM(Installs) as TotalInstalls 
                        from apps
                        group by App
                        order by AverageRating DESC, TotalInstalls DESC
                        limit 10
                        """)
results_sql.show()

+--------------------+-------------+-------------+
|                 App|AverageRating|TotalInstalls|
+--------------------+-------------+-------------+
|Ek Bander Ne Khol...|          5.0|        10000|
|          Oración CX|          5.0|         5000|
|CL Keyboard - Mya...|          5.0|         5000|
|Superheroes, Marv...|          5.0|         5000|
|BP Journal - Bloo...|          5.0|         2000|
|     Fr. Daoud Lamei|          5.0|         1000|
| Florida Wildflowers|          5.0|         1000|
|Accounting Quiz (...|          5.0|         1000|
|Tozer Devotional ...|          5.0|         1000|
|           AP® Guide|          5.0|         1000|
+--------------------+-------------+-------------+